In [1]:
import pandas as pd
import numpy as np

In [2]:
aids = pd.read_csv("AiSD2.csv")

In [3]:
aids.head()

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(5),Z14(4+1),Z15(5)
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,NA
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,NA
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,NA
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NA

In [4]:
aids.columns

Index(['Imię', '      Nazwisko', '           Z1(4+1)', '  Z2(4+1)',
       '    Z3(4+1)', '   Z4(4+1)', '   Z5(2+2)', '   Z6(4+1)', '  Z7(4+1)',
       '   Z8(4+1)', '   Z9(4+1)', ' Z10(4+1)', '    Z11(4+1)', '  Z12(4+1)',
       '            Z13(5)', '  Z14(4+1)', 'Z15(5)'],
      dtype='object')

In [5]:
aidsB = aids.rename(columns=lambda x: x.strip())
aidsC = pd.read_csv("AiSD2.csv", skipinitialspace=True)

In [6]:
aids.columns = aids.columns.str.replace(" ", "")
aids.columns

Index(['Imię', 'Nazwisko', 'Z1(4+1)', 'Z2(4+1)', 'Z3(4+1)', 'Z4(4+1)',
       'Z5(2+2)', 'Z6(4+1)', 'Z7(4+1)', 'Z8(4+1)', 'Z9(4+1)', 'Z10(4+1)',
       'Z11(4+1)', 'Z12(4+1)', 'Z13(5)', 'Z14(4+1)', 'Z15(5)'],
      dtype='object')

In [7]:
aids = aids.applymap(lambda x: x.strip())

In [8]:
aids.dtypes

Imię        object
Nazwisko    object
Z1(4+1)     object
Z2(4+1)     object
Z3(4+1)     object
Z4(4+1)     object
Z5(2+2)     object
Z6(4+1)     object
Z7(4+1)     object
Z8(4+1)     object
Z9(4+1)     object
Z10(4+1)    object
Z11(4+1)    object
Z12(4+1)    object
Z13(5)      object
Z14(4+1)    object
Z15(5)      object
dtype: object

In [9]:
aids.Nazwisko

0           Nowak
1        Kowalski
2      Wiśniewski
3       Dąbrowski
4     Lewandowski
5          Wójcik
6        Kamiński
7       Kowalczyk
8       Zielińska
9       Szymański
10        Woźniak
Name: Nazwisko, dtype: object

In [26]:
import unidecode
kolumna = aids.Nazwisko.str.lower() + aids.Imię.str.lower().str[0] + "@student.mini.pw.edu.pl"
kolumna.apply(unidecode.unidecode)
aids["Email"] = kolumna
aids.Email

0           nowaka@student.mini.pw.edu.pl
1        kowalskir@student.mini.pw.edu.pl
2      wiśniewskip@student.mini.pw.edu.pl
3       dąbrowskia@student.mini.pw.edu.pl
4     lewandowskij@student.mini.pw.edu.pl
5          wójcikb@student.mini.pw.edu.pl
6        kamińskił@student.mini.pw.edu.pl
7       kowalczyko@student.mini.pw.edu.pl
8       zielińskaj@student.mini.pw.edu.pl
9       szymańskio@student.mini.pw.edu.pl
10        woźniakp@student.mini.pw.edu.pl
Name: Email, dtype: object

In [27]:
", ".join(aids.Email)

'nowaka@student.mini.pw.edu.pl, kowalskir@student.mini.pw.edu.pl, wiśniewskip@student.mini.pw.edu.pl, dąbrowskia@student.mini.pw.edu.pl, lewandowskij@student.mini.pw.edu.pl, wójcikb@student.mini.pw.edu.pl, kamińskił@student.mini.pw.edu.pl, kowalczyko@student.mini.pw.edu.pl, zielińskaj@student.mini.pw.edu.pl, szymańskio@student.mini.pw.edu.pl, woźniakp@student.mini.pw.edu.pl'

In [28]:
aids.columns

Index(['Imię', 'Nazwisko', 'Z1(4+1)', 'Z2(4+1)', 'Z3(4+1)', 'Z4(4+1)',
       'Z5(2+2)', 'Z6(4+1)', 'Z7(4+1)', 'Z8(4+1)', 'Z9(4+1)', 'Z10(4+1)',
       'Z11(4+1)', 'Z12(4+1)', 'Z13(5)', 'Z14(4+1)', 'Z15(5)', 'Email'],
      dtype='object')

In [33]:
aids["Z1(4+1)"].str.

0     [2.5, 1.0]
1     [3.0, 0.0]
2     [2.5, 0.5]
3     [0.5, 1.0]
4     [2.0, 0.0]
5     [2.0, 1.0]
6     [4.0, 1.0]
7     [4.0, 0.5]
8     [2.5, 0.0]
9     [2.5, 1.0]
10    [2.0, 1.0]
Name: Z1(4+1), dtype: object

In [31]:
aids["Z13(5)"]

0     4.0+0.0
1     4.0+0.0
2     4.0+1.0
3       NA+NA
4       NB+NB
5     4.0+1.0
6     2.0+1.0
7     4.0+1.0
8       NB+NB
9       NB+NB
10    2.0+0.0
Name: Z13(5), dtype: object

In [34]:
import re

In [70]:
re.findall(
    r"Z(\d+)\((\d+)(?:.(\d*))\)",
        "Z13(5)"
    )[0]

IndexError: list index out of range

In [66]:
exercise, points_class, points_home

('13', '4', '1')

In [91]:
nazwa_kolumny = aids.columns[3]
dopasowanie = re.findall(r"Z(\d)\((\d)\+(\d)\)", nazwa_kolumny)[0]
nowa_nazwa1 = "L" + dopasowanie[0] + f"({dopasowanie[1]})"
nowa_nazwa2 = "D" + dopasowanie[0] + f"({dopasowanie[2]})"
# print(nowa_nazwa1, nowa_nazwa2)
nowe_kolumny = aids[nazwa_kolumny].str.split('+', expand = True)
nowe_kolumny.columns = [nowa_nazwa1, nowa_nazwa2]
nowe_kolumny
pd.merge

   L2(4) D2(1)
0    4.0   1.0
1    2.0   0.5
2     US   1.0
3    1.0   1.0
4    3.0   1.0
5    2.0   1.0
6    2.0   1.0
7    4.0   1.0
8     US    US
9    0.0   0.0
10   4.0   1.0

In [94]:
oceny2 = aids.copy()
indeksyDoUsuniecia = []


for i in range(2,16):
    numerPunkty = re.findall(r"Z(\d+)\((\d+)\+(\d+)\)",aids.columns[i])
    if len(numerPunkty) == 1:
        rozbitaKolumna = aids.iloc[:,i].str.split("+", expand=True)
        oceny2["L"+numerPunkty[0][0]+"("+numerPunkty[0][1]+")"] = rozbitaKolumna.iloc[:,0]
        oceny2["D"+numerPunkty[0][0]+"("+numerPunkty[0][2]+")"] = rozbitaKolumna.iloc[:,1]
        indeksyDoUsuniecia.append(i)
#         oceny2 = oceny2.drop(oceny.columns[i], axis=1)
    else:
        numerPunkty = re.findall(r"Z(\d+)\((\d+)\)",aids.columns[i])
        if len(numerPunkty) == 1:
            rozbitaKolumna = aids.iloc[:,i].str.split("+", expand=True)
            oceny2["L"+numerPunkty[0][0]+"("+numerPunkty[0][1]+")"] = rozbitaKolumna.iloc[:,0]
            indeksyDoUsuniecia.append(i)
#             oceny2 = oceny2.drop(oceny.columns[i], axis=1)
oceny2.drop(columns = oceny2.columns[indeksyDoUsuniecia], inplace=True)
oceny2.drop(columns = "Z15(5)", inplace=True)
oceny2

,Imię,Nazwisko,Email,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,D9(1),L10(4),D10(1),L11(4),D11(1),L12(4),D12(1),L13(5),L14(4),D14(1)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.0,1.0,2.0,0.0,1.0,...,0.5,2.0,0.0,0.5,1.0,ZW,ZW,4.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.0,0.5,2.0,1.0,1.5,...,1.0,0.0,NB,1.0,1.0,NS.(3.0),NS.(1.0),4.0,4.0,1.0
2,Pavlo,Wiśniewski,wiśniewskip@student.mini.pw.edu.pl,2.5,0.5,US,1.0,2.5,1.0,1.5,...,1.0,ZW,ZW,1.0,0.5,3.5,1.0,4.0,4.0,1.0
3,Aleksy,Dąbrowski,dąbrowskia@student.mini.pw.edu.pl,0.5,1.0,1.0,1.0,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.0,1.0,1.0,0.0,1.5,...,NB,NB,NB,NB,NB,NB,NB,NB,NB,NB
5,Bartłomiej,Wójcik,wójcikb@student.mini.pw.edu.pl,2.0,1.0,2.0,1.0,2.5,0.5,1.5,...,1.0,ZW,ZW,0.5,1.0,3.0,0.0,4.0,3.5,0.0
6,Łukasz,Kamiński,kamińskił@student.mini.pw.edu.pl,4.0,1.0,2.0,1.0,3.5,1.0,1.5,...,1.0,2.0,0.0,0.5,0.5,3.0,1.0,2.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.0,1.0,2.0,1.0,4.0,...,1.0,1.0,0.5,0.0,NB,3.5,1.0,4.0,3.0,0.0
8,Joanna,Zielińska,zielińskaj@student.mini.pw.edu.pl,2.5,0.0,US,US,0.5,0.0,1.0,...,NB,NB,NB,NB,NB,NB,NB,NB,NB,NB
9,Oktawia,Szymański,szymańskio@student.mini.pw.edu.pl,2.5,1.0,0.0,0.0,1.0,0.5,0.0,...,NB,NB,NB,NB,NB,NB,NB,NB,NB,NB
10,Patryk,Woźniak,woźniakp@student.mini.pw.edu.pl,2.0,1.0,4.0,1.0,2.5,1.0,3.0,...,1.0,2.0,0.5,4.0,1.0,4.0,1.0,2.0,4.0,1.0

In [95]:
oceny2.iloc[:,3:]

,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),D4(1),L5(2),D5(2),...,D9(1),L10(4),D10(1),L11(4),D11(1),L12(4),D12(1),L13(5),L14(4),D14(1)
0,2.5,1.0,4.0,1.0,2.0,0.0,1.0,2.0,1.5,2.0,...,0.5,2.0,0.0,0.5,1.0,ZW,ZW,4.0,4.0,1.0
1,3.0,0.0,2.0,0.5,2.0,1.0,1.5,1.5,2.0,1.0,...,1.0,0.0,NB,1.0,1.0,NS.(3.0),NS.(1.0),4.0,4.0,1.0
2,2.5,0.5,US,1.0,2.5,1.0,1.5,1.5,2.0,1.5,...,1.0,ZW,ZW,1.0,0.5,3.5,1.0,4.0,4.0,1.0
3,0.5,1.0,1.0,1.0,NA,NA,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
4,2.0,0.0,3.0,1.0,1.0,0.0,1.5,1.5,0.5,0.0,...,NB,NB,NB,NB,NB,NB,NB,NB,NB,NB
5,2.0,1.0,2.0,1.0,2.5,0.5,1.5,1.5,0.5,1.0,...,1.0,ZW,ZW,0.5,1.0,3.0,0.0,4.0,3.5,0.0
6,4.0,1.0,2.0,1.0,3.5,1.0,1.5,0.5,1.5,0.5,...,1.0,2.0,0.0,0.5,0.5,3.0,1.0,2.0,4.0,1.0
7,4.0,0.5,4.0,1.0,2.0,1.0,4.0,2.0,2.0,1.0,...,1.0,1.0,0.5,0.0,NB,3.5,1.0,4.0,3.0,0.0
8,2.5,0.0,US,US,0.5,0.0,1.0,0.0,0.5,1.0,...,NB,NB,NB,NB,NB,NB,NB,NB,NB,NB
9,2.5,1.0,0.0,0.0,1.0,0.5,0.0,1.5,0.5,0.5,...,NB,NB,NB,NB,NB,NB,NB,NB,NB,NB
10,2.0,1.0,4.0,1.0,2.5,1.0,3.0,2.0,1.0,0.5,...,1.0,2.0,0.5,4.0,1.0,4.0,1.0,2.0,4.0,1.0

In [ ]:
# replace dictionary?

In [96]:
oceny2 = oceny2.replace(["NA","NB", "NS\.\(.+\)"], "0", regex=True)
oceny2 = oceny2.replace(["ZW","US",],np.nan)
oceny2

,Imię,Nazwisko,Email,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,D9(1),L10(4),D10(1),L11(4),D11(1),L12(4),D12(1),L13(5),L14(4),D14(1)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.0,1.0,2.0,0.0,1.0,...,0.5,2.0,0.0,0.5,1.0,NaN,NaN,4.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.0,0.5,2.0,1.0,1.5,...,1.0,0.0,0,1.0,1.0,0,0,4.0,4.0,1.0
2,Pavlo,Wiśniewski,wiśniewskip@student.mini.pw.edu.pl,2.5,0.5,NaN,1.0,2.5,1.0,1.5,...,1.0,NaN,NaN,1.0,0.5,3.5,1.0,4.0,4.0,1.0
3,Aleksy,Dąbrowski,dąbrowskia@student.mini.pw.edu.pl,0.5,1.0,1.0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.0,1.0,1.0,0.0,1.5,...,0,0,0,0,0,0,0,0,0,0
5,Bartłomiej,Wójcik,wójcikb@student.mini.pw.edu.pl,2.0,1.0,2.0,1.0,2.5,0.5,1.5,...,1.0,NaN,NaN,0.5,1.0,3.0,0.0,4.0,3.5,0.0
6,Łukasz,Kamiński,kamińskił@student.mini.pw.edu.pl,4.0,1.0,2.0,1.0,3.5,1.0,1.5,...,1.0,2.0,0.0,0.5,0.5,3.0,1.0,2.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.0,1.0,2.0,1.0,4.0,...,1.0,1.0,0.5,0.0,0,3.5,1.0,4.0,3.0,0.0
8,Joanna,Zielińska,zielińskaj@student.mini.pw.edu.pl,2.5,0.0,NaN,NaN,0.5,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
9,Oktawia,Szymański,szymańskio@student.mini.pw.edu.pl,2.5,1.0,0.0,0.0,1.0,0.5,0.0,...,0,0,0,0,0,0,0,0,0,0
10,Patryk,Woźniak,woźniakp@student.mini.pw.edu.pl,2.0,1.0,4.0,1.0,2.5,1.0,3.0,...,1.0,2.0,0.5,4.0,1.0,4.0,1.0,2.0,4.0,1.0

In [97]:
oceny2 = pd.concat([oceny2.iloc[:,0:3],oceny2.iloc[:,3:30].astype(float)], axis=1)
oceny2

,Imię,Nazwisko,Email,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,D9(1),L10(4),D10(1),L11(4),D11(1),L12(4),D12(1),L13(5),L14(4),D14(1)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.0,1.0,2.0,0.0,1.0,...,0.5,2.0,0.0,0.5,1.0,NaN,NaN,4.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.0,0.5,2.0,1.0,1.5,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,4.0,4.0,1.0
2,Pavlo,Wiśniewski,wiśniewskip@student.mini.pw.edu.pl,2.5,0.5,NaN,1.0,2.5,1.0,1.5,...,1.0,NaN,NaN,1.0,0.5,3.5,1.0,4.0,4.0,1.0
3,Aleksy,Dąbrowski,dąbrowskia@student.mini.pw.edu.pl,0.5,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.0,1.0,1.0,0.0,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Bartłomiej,Wójcik,wójcikb@student.mini.pw.edu.pl,2.0,1.0,2.0,1.0,2.5,0.5,1.5,...,1.0,NaN,NaN,0.5,1.0,3.0,0.0,4.0,3.5,0.0
6,Łukasz,Kamiński,kamińskił@student.mini.pw.edu.pl,4.0,1.0,2.0,1.0,3.5,1.0,1.5,...,1.0,2.0,0.0,0.5,0.5,3.0,1.0,2.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.0,1.0,2.0,1.0,4.0,...,1.0,1.0,0.5,0.0,0.0,3.5,1.0,4.0,3.0,0.0
8,Joanna,Zielińska,zielińskaj@student.mini.pw.edu.pl,2.5,0.0,NaN,NaN,0.5,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Oktawia,Szymański,szymańskio@student.mini.pw.edu.pl,2.5,1.0,0.0,0.0,1.0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,Patryk,Woźniak,woźniakp@student.mini.pw.edu.pl,2.0,1.0,4.0,1.0,2.5,1.0,3.0,...,1.0,2.0,0.5,4.0,1.0,4.0,1.0,2.0,4.0,1.0

In [99]:
for columnIndex in range(3, 30):
    for rowIndex in range(aids.shape[0]):
        if np.isnan(oceny2.iloc[rowIndex, columnIndex]):
            oceny2.iloc[rowIndex, columnIndex] = \
                np.mean(np.r_[oceny2.iloc[:, columnIndex].mean(),\
                              oceny2.iloc[rowIndex, 3:30].mean()])  
oceny2

,Imię,Nazwisko,Email,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,D9(1),L10(4),D10(1),L11(4),D11(1),L12(4),D12(1),L13(5),L14(4),D14(1)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.000000,1.000000,2.0,0.0,1.0,...,0.5,2.000000,0.000000,0.5,1.0,1.61,0.961731,4.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.000000,0.500000,2.0,1.0,1.5,...,1.0,0.000000,0.000000,1.0,1.0,0.00,0.000000,4.0,4.0,1.0
2,Pavlo,Wiśniewski,wiśniewskip@student.mini.pw.edu.pl,2.5,0.5,2.118056,1.000000,2.5,1.0,1.5,...,1.0,1.291250,0.948042,1.0,0.5,3.50,1.000000,4.0,4.0,1.0
3,Aleksy,Dąbrowski,dąbrowskia@student.mini.pw.edu.pl,0.5,1.0,1.000000,1.000000,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.00,0.000000,0.0,0.0,0.0
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.000000,1.000000,1.0,0.0,1.5,...,0.0,0.000000,0.000000,0.0,0.0,0.00,0.000000,0.0,0.0,0.0
5,Bartłomiej,Wójcik,wójcikb@student.mini.pw.edu.pl,2.0,1.0,2.000000,1.000000,2.5,0.5,1.5,...,1.0,1.139563,0.816432,0.5,1.0,3.00,0.000000,4.0,3.5,0.0
6,Łukasz,Kamiński,kamińskił@student.mini.pw.edu.pl,4.0,1.0,2.000000,1.000000,3.5,1.0,1.5,...,1.0,2.000000,0.000000,0.5,0.5,3.00,1.000000,2.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.000000,1.000000,2.0,1.0,4.0,...,1.0,1.000000,0.500000,0.0,0.0,3.50,1.000000,4.0,3.0,0.0
8,Joanna,Zielińska,zielińskaj@student.mini.pw.edu.pl,2.5,0.0,1.345903,0.585498,0.5,0.0,1.0,...,0.0,0.000000,0.000000,0.0,0.0,0.00,0.000000,0.0,0.0,0.0
9,Oktawia,Szymański,szymańskio@student.mini.pw.edu.pl,2.5,1.0,0.000000,0.000000,1.0,0.5,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.00,0.000000,0.0,0.0,0.0
10,Patryk,Woźniak,woźniakp@student.mini.pw.edu.pl,2.0,1.0,4.000000,1.000000,2.5,1.0,3.0,...,1.0,2.000000,0.500000,4.0,1.0,4.00,1.000000,2.0,4.0,1.0

In [107]:
oceny2.iloc[:,3:].sum(axis=1)

0     40.571731
1     35.500000
2     47.357348
3      3.500000
4     14.250000
5     38.205995
6     41.928846
7     48.000000
8      8.931401
9      7.500000
10    48.500000
dtype: float64

In [ ]:
suma = 0
for kolumna in np.r_[3:30]:
    suma += int(re.findall(r"[LD]\d{1,2}\((\d)\)", ))