In [1]:
import pandas as pd
import numpy as np

In [39]:
oceny = pd.read_csv("AiSD2.csv", skipinitialspace=True)

In [40]:
oceny.columns

Index(['Imię', 'Nazwisko', 'Z1(4+1)', 'Z2(4+1)', 'Z3(4+1)', 'Z4(4+1)',
       'Z5(2+2)', 'Z6(4+1)', 'Z7(4+1)', 'Z8(4+1)', 'Z9(4+1)', 'Z10(4+1)',
       'Z11(4+1)', 'Z12(4+1)', 'Z13(5)', 'Z14(4+1)', 'Z15(5)'],
      dtype='object')

In [9]:
oceny.head()

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(5),Z14(4+1),Z15(5)
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,NaN
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,NaN
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,NaN
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NaN
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NaN

* replace spacji na pusty string
* funkcja strip()
* skipinitialspace = True

## strip()

In [20]:
oceny.columns = oceny.columns.str.strip()
oceny.columns

Index(['Imię', 'Nazwisko', 'Z1(4+1)', 'Z2(4+1)', 'Z3(4+1)', 'Z4(4+1)',
       'Z5(2+2)', 'Z6(4+1)', 'Z7(4+1)', 'Z8(4+1)', 'Z9(4+1)', 'Z10(4+1)',
       'Z11(4+1)', 'Z12(4+1)', 'Z13(5)', 'Z14(4+1)', 'Z15(5)'],
      dtype='object')

In [26]:
for kolumna in np.arange(oceny.shape[1]):
    oceny.iloc[:,kolumna] = oceny.iloc[:,kolumna].str.strip()
oceny.Nazwisko.values

array(['Nowak', 'Kowalski', 'Wiśniewski', 'Dąbrowski', 'Lewandowski',
       'Wójcik', 'Kamiński', 'Kowalczyk', 'Zielińska', 'Szymański',
       'Woźniak'], dtype=object)

In [51]:
oceny.dtypes

Imię         object
Nazwisko     object
Z1(4+1)      object
Z2(4+1)      object
Z3(4+1)      object
Z4(4+1)      object
Z5(2+2)      object
Z6(4+1)      object
Z7(4+1)      object
Z8(4+1)      object
Z9(4+1)      object
Z10(4+1)     object
Z11(4+1)     object
Z12(4+1)     object
Z13(5)       object
Z14(4+1)     object
Z15(5)      float64
dtype: object

In [50]:
oceny.applymap(lambda x: str.strip(str(x)))

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(5),Z14(4+1),Z15(5)
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,nan
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,nan
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,nan
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,nan
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,nan
5,Bartłomiej,Wójcik,2.0+1.0,2.0+1.0,2.5+0.5,1.5+1.5,0.5+1.0,1.75+0.5,0.0+1.0,1.5+1.0,4.0+1.0,ZW+ZW,0.5+1.0,3.0+0.0,4.0+1.0,3.5+0.0,nan
6,Łukasz,Kamiński,4.0+1.0,2.0+1.0,3.5+1.0,1.5+0.5,1.5+0.5,US+1.0,0.5+1.0,2.0+1.0,3.5+1.0,2.0+0.0,0.5+0.5,3.0+1.0,2.0+1.0,4.0+1.0,nan
7,Oskar,Kowalczyk,4.0+0.5,4.0+1.0,2.0+1.0,4.0+2.0,2.0+1.0,1.5+0.0,1.0+1.0,4.0+1.0,4.0+1.0,1.0+0.5,0.0+NB,3.5+1.0,4.0+1.0,3.0+0.0,nan
8,Joanna,Zielińska,2.5+0.0,US+US,0.5+0.0,1.0+0.0,0.5+1.0,1.0+0.0,0.5+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,nan
9,Oktawia,Szymański,2.5+1.0,0.0+0.0,1.0+0.5,0.0+1.5,0.5+0.5,NB+NB,0.0+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,nan
10,Patryk,Woźniak,2.0+1.0,4.0+1.0,2.5+1.0,3.0+2.0,1.0+0.5,1.0+0.5,1.0+0.5,2.0+1.0,4.0+1.0,2.0+0.5,4.0+1.0,4.0+1.0,2.0+0.0,4.0+1.0,nan

## replace

In [28]:
oceny.columns = oceny.columns.str.replace(" ", "")
oceny.columns

Index(['Imię', 'Nazwisko', 'Z1(4+1)', 'Z2(4+1)', 'Z3(4+1)', 'Z4(4+1)',
       'Z5(2+2)', 'Z6(4+1)', 'Z7(4+1)', 'Z8(4+1)', 'Z9(4+1)', 'Z10(4+1)',
       'Z11(4+1)', 'Z12(4+1)', 'Z13(5)', 'Z14(4+1)', 'Z15(5)'],
      dtype='object')

In [30]:
for kolumna in np.arange(oceny.shape[1]):
    oceny.iloc[:,kolumna] = oceny.iloc[:,kolumna].str.replace(" ", "")
oceny.Nazwisko.values

array(['Nowak', 'Kowalski', 'Wiśniewski', 'Dąbrowski', 'Lewandowski',
       'Wójcik', 'Kamiński', 'Kowalczyk', 'Zielińska', 'Szymański',
       'Woźniak'], dtype=object)

# e-mail

In [43]:
oceny.Nazwisko + "ala"

0           Nowakala
1        Kowalskiala
2      Wiśniewskiala
3       Dąbrowskiala
4     Lewandowskiala
5          Wójcikala
6        Kamińskiala
7       Kowalczykala
8       Zielińskaala
9       Szymańskiala
10        Woźniakala
Name: Nazwisko, dtype: object

In [45]:
oceny.Nazwisko.str[0]

0     N
1     K
2     W
3     D
4     L
5     W
6     K
7     K
8     Z
9     S
10    W
Name: Nazwisko, dtype: object

## podejscie 1, nowsze, ale nie działa

### w terminalu: conda install -c anaconda unidecode

In [68]:
import unidecode
accented_string = np.array(["łóżźćą", "ąółź"])
# unidecode.unidecode(accented_string)
usunAkcenty = np.vectorize(unidecode.unidecode)
unaccented_string = usunAkcenty(accented_string)
unaccented_string

array(['lozzca', 'aolz'], dtype='<U6')

In [70]:
pd.Series(usunAkcenty(oceny.Nazwisko.str.lower() + oceny.Imię.str.lower().str[0] + "@student.mini.pw.edu.pl"))

0           nowaka@student.mini.pw.edu.pl
1        kowalskir@student.mini.pw.edu.pl
2      wisniewskip@student.mini.pw.edu.pl
3       dabrowskia@student.mini.pw.edu.pl
4     lewandowskij@student.mini.pw.edu.pl
5          wojcikb@student.mini.pw.edu.pl
6        kaminskil@student.mini.pw.edu.pl
7       kowalczyko@student.mini.pw.edu.pl
8       zielinskaj@student.mini.pw.edu.pl
9       szymanskio@student.mini.pw.edu.pl
10        wozniakp@student.mini.pw.edu.pl
dtype: object

In [73]:
kolumna = oceny.Nazwisko.str.lower() + oceny.Imię.str.lower().str[0] + "@student.mini.pw.edu.pl"
oceny["E-mail"] = kolumna.apply(unidecode.unidecode)
oceny["E-mail"]

0           nowaka@student.mini.pw.edu.pl
1        kowalskir@student.mini.pw.edu.pl
2      wisniewskip@student.mini.pw.edu.pl
3       dabrowskia@student.mini.pw.edu.pl
4     lewandowskij@student.mini.pw.edu.pl
5          wojcikb@student.mini.pw.edu.pl
6        kaminskil@student.mini.pw.edu.pl
7       kowalczyko@student.mini.pw.edu.pl
8       zielinskaj@student.mini.pw.edu.pl
9       szymanskio@student.mini.pw.edu.pl
10        wozniakp@student.mini.pw.edu.pl
Name: E-mail, dtype: object

## podejście 2, starsze, ale działa

In [77]:
import unicodedata
def strip_accents(s):
    wynik = ''.join(c for c in unicodedata.normalize('NFD', s)
                  if unicodedata.category(c) != 'Mn')
    wynik = wynik.replace("ł", "l")
    wynik = wynik.replace("Ł", "L")
    return wynik
strip_accents("Łłóżźćą")

'Llozzca'

In [78]:
kolumna = oceny.Nazwisko.str.lower() + oceny.Imię.str.lower().str[0] + "@student.mini.pw.edu.pl"
kolumna.apply(strip_accents)

0           nowaka@student.mini.pw.edu.pl
1        kowalskir@student.mini.pw.edu.pl
2      wisniewskip@student.mini.pw.edu.pl
3       dabrowskia@student.mini.pw.edu.pl
4     lewandowskij@student.mini.pw.edu.pl
5          wojcikb@student.mini.pw.edu.pl
6        kaminskil@student.mini.pw.edu.pl
7       kowalczyko@student.mini.pw.edu.pl
8       zielinskaj@student.mini.pw.edu.pl
9       szymanskio@student.mini.pw.edu.pl
10        wozniakp@student.mini.pw.edu.pl
dtype: object

# Do programu pocztowego

In [ ]:
# nowaka@student.mini.pw.edu.pl, kowalskir@student.mini.pw.edu.pl, wisniewskip@student.mini.pw.edu.pl

In [83]:
", ".join(oceny["E-mail"])

'nowaka@student.mini.pw.edu.pl, kowalskir@student.mini.pw.edu.pl, wisniewskip@student.mini.pw.edu.pl, dabrowskia@student.mini.pw.edu.pl, lewandowskij@student.mini.pw.edu.pl, wojcikb@student.mini.pw.edu.pl, kaminskil@student.mini.pw.edu.pl, kowalczyko@student.mini.pw.edu.pl, zielinskaj@student.mini.pw.edu.pl, szymanskio@student.mini.pw.edu.pl, wozniakp@student.mini.pw.edu.pl'

# Wczytaj dane tak, aby część laboratoryjna była osobną kolumną, a część domowa osobną.

In [84]:
import re

In [88]:
print("ala \n ma \n kota")

ala
 ma
 kota

In [89]:
print(r"ala \n ma \n kota")

ala \n ma \n kota

* \* - 0 lub wiecej
* \+ - 1 lub wiecej
* {od, do}
* \d - cyfry

W książce strona 185, rozdział 9.2

In [90]:
re.findall(r"\d \d", "5 8")

['5 8']

In [93]:
re.findall(r"((\d) (\d))", "5 8 6 7") #, flags=...

[('5 8', '5', '8'), ('6 7', '6', '7')]

In [95]:
re.findall(r"((\d+) (\d))", "56 87 676 7")

[('56 8', '56', '8'), ('7 6', '7', '6'), ('76 7', '76', '7')]

In [96]:
re.findall(r"((\d{1,3}) (\d))", "56 87 676 7 8888 9")

[('56 8', '56', '8'),
 ('7 6', '7', '6'),
 ('76 7', '76', '7'),
 ('888 9', '888', '9')]

In [98]:
re.findall(r"((\d*) (\d))", "56 87 676 7 8888 9")

[('56 8', '6', '8'),
 ('7 6', '7', '6'),
 ('76 7', '6', '7'),
 (' 8', '', '8'),
 ('888 9', '8', '9')]

In [100]:
re.findall(r"a+b", "aab aaab ab b")

['aab', 'aaab', 'ab']

In [101]:
re.findall(r"a*b", "aab aaab ab b")

['aab', 'aaab', 'ab', 'b']

In [124]:
re.findall(r"((a*)[^b])", "aab aaab ab b")

[('aa', 'a'), (' ', ''), ('aaa', 'aa'), (' ', ''), ('a', ''), (' ', '')]

In [102]:
re.findall(r"((a*)b)", "aab aaab ab b")

[('aab', 'aa'), ('aaab', 'aaa'), ('ab', 'a'), ('b', '')]

In [104]:
re.findall(r"\(\d{3}\)", "123 (567) (45)")

['(567)']

In [105]:
re.findall(r"\((\d{3})\)", "123 (567) (45)")

['567']

In [108]:
re.findall(r"\d\.\d", "1.5")

['1.5']

In [110]:
re.findall(r"\d\.\d|\d", "2 5.6")

['2', '5.6']

In [117]:
nazwa_kolumny = oceny.columns[3]
dopasowanie = re.findall(r"Z(\d)\((\d)\+(\d)\)", nazwa_kolumny)[0]
nazwa_lab = f"L{dopasowanie[0]}({dopasowanie[1]})"
nazwa_dom = f"D{dopasowanie[0]}({dopasowanie[2]})"
nazwa_dom

'D2(1)'

In [121]:
oceny.iloc[:,3].str.split("+", expand=True)[0]

0     4.0
1     2.0
2      US
3     1.0
4     3.0
5     2.0
6     2.0
7     4.0
8      US
9     0.0
10    4.0
Name: 0, dtype: object

In [122]:
oceny.columns

Index(['Imię', 'Nazwisko', 'Z1(4+1)', 'Z2(4+1)', 'Z3(4+1)', 'Z4(4+1)',
       'Z5(2+2)', 'Z6(4+1)', 'Z7(4+1)', 'Z8(4+1)', 'Z9(4+1)', 'Z10(4+1)',
       'Z11(4+1)', 'Z12(4+1)', 'Z13(5)', 'Z14(4+1)', 'Z15(5)', 'E-mail'],
      dtype='object')

In [123]:
re.findall(r"Z(\d)\((\d)\+(\d)\)", "Z13(5)")

[]

In [126]:
#pandas tez to ma
oceny.iloc[:,4].str.findall("(\d)\+(\d)")

0     [(0, 0)]
1     [(0, 1)]
2     [(5, 1)]
3           []
4     [(0, 0)]
5     [(5, 0)]
6     [(5, 1)]
7     [(0, 1)]
8     [(5, 0)]
9     [(0, 0)]
10    [(5, 1)]
Name: Z3(4+1), dtype: object

In [128]:
oceny2 = oceny.copy()
indeksyDoUsuniecia = []


for i in range(2,16):
    numerPunkty = re.findall(r"Z(\d+)\((\d+)\+(\d+)\)",oceny.columns[i])
    if len(numerPunkty) == 1:
        rozbitaKolumna = oceny.iloc[:,i].str.split("+", expand=True)
        oceny2["L"+numerPunkty[0][0]+"("+numerPunkty[0][1]+")"] = rozbitaKolumna.iloc[:,0]
        oceny2["D"+numerPunkty[0][0]+"("+numerPunkty[0][2]+")"] = rozbitaKolumna.iloc[:,1]
        indeksyDoUsuniecia.append(i)
#         oceny2 = oceny2.drop(oceny.columns[i], axis=1)
    else:
        numerPunkty = re.findall(r"Z(\d+)\((\d+)\)",oceny.columns[i])
        if len(numerPunkty) == 1:
            rozbitaKolumna = oceny.iloc[:,i].str.split("+", expand=True)
            oceny2["L"+numerPunkty[0][0]+"("+numerPunkty[0][1]+")"] = rozbitaKolumna.iloc[:,0]
            indeksyDoUsuniecia.append(i)
#             oceny2 = oceny2.drop(oceny.columns[i], axis=1)
oceny2.drop(columns = oceny2.columns[indeksyDoUsuniecia], inplace=True)
oceny2.drop(columns = "Z15(5)", inplace=True)
oceny2

,Imię,Nazwisko,E-mail,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,D9(1),L10(4),D10(1),L11(4),D11(1),L12(4),D12(1),L13(5),L14(4),D14(1)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.0,1.0,2.0,0.0,1.0,...,0.5,2.0,0.0,0.5,1.0,ZW,ZW,4.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.0,0.5,2.0,1.0,1.5,...,1.0,0.0,NB,1.0,1.0,NS.(3.0),NS.(1.0),4.0,4.0,1.0
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,US,1.0,2.5,1.0,1.5,...,1.0,ZW,ZW,1.0,0.5,3.5,1.0,4.0,4.0,1.0
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.0,1.0,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.0,1.0,1.0,0.0,1.5,...,NB,NB,NB,NB,NB,NB,NB,NB,NB,NB
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.0,1.0,2.5,0.5,1.5,...,1.0,ZW,ZW,0.5,1.0,3.0,0.0,4.0,3.5,0.0
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.0,1.0,3.5,1.0,1.5,...,1.0,2.0,0.0,0.5,0.5,3.0,1.0,2.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.0,1.0,2.0,1.0,4.0,...,1.0,1.0,0.5,0.0,NB,3.5,1.0,4.0,3.0,0.0
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,US,US,0.5,0.0,1.0,...,NB,NB,NB,NB,NB,NB,NB,NB,NB,NB
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.0,0.0,1.0,0.5,0.0,...,NB,NB,NB,NB,NB,NB,NB,NB,NB,NB
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.0,1.0,2.5,1.0,3.0,...,1.0,2.0,0.5,4.0,1.0,4.0,1.0,2.0,4.0,1.0

In [130]:
oceny2 = oceny2.replace(["NA","NB", "NS\.\(.+\)"], "0", regex=True)
oceny2 = oceny2.replace(["ZW","US",],np.nan)
oceny2

,Imię,Nazwisko,E-mail,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,D9(1),L10(4),D10(1),L11(4),D11(1),L12(4),D12(1),L13(5),L14(4),D14(1)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.0,1.0,2.0,0.0,1.0,...,0.5,2.0,0.0,0.5,1.0,NaN,NaN,4.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.0,0.5,2.0,1.0,1.5,...,1.0,0.0,0,1.0,1.0,0,0,4.0,4.0,1.0
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,NaN,1.0,2.5,1.0,1.5,...,1.0,NaN,NaN,1.0,0.5,3.5,1.0,4.0,4.0,1.0
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.0,1.0,1.0,0.0,1.5,...,0,0,0,0,0,0,0,0,0,0
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.0,1.0,2.5,0.5,1.5,...,1.0,NaN,NaN,0.5,1.0,3.0,0.0,4.0,3.5,0.0
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.0,1.0,3.5,1.0,1.5,...,1.0,2.0,0.0,0.5,0.5,3.0,1.0,2.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.0,1.0,2.0,1.0,4.0,...,1.0,1.0,0.5,0.0,0,3.5,1.0,4.0,3.0,0.0
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,NaN,NaN,0.5,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.0,0.0,1.0,0.5,0.0,...,0,0,0,0,0,0,0,0,0,0
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.0,1.0,2.5,1.0,3.0,...,1.0,2.0,0.5,4.0,1.0,4.0,1.0,2.0,4.0,1.0

In [131]:
oceny2 = pd.concat([oceny2.iloc[:,0:3],oceny2.iloc[:,3:30].astype(float)], axis=1)
oceny2

,Imię,Nazwisko,E-mail,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,D9(1),L10(4),D10(1),L11(4),D11(1),L12(4),D12(1),L13(5),L14(4),D14(1)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.0,1.0,2.0,0.0,1.0,...,0.5,2.0,0.0,0.5,1.0,NaN,NaN,4.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.0,0.5,2.0,1.0,1.5,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,4.0,4.0,1.0
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,NaN,1.0,2.5,1.0,1.5,...,1.0,NaN,NaN,1.0,0.5,3.5,1.0,4.0,4.0,1.0
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.0,1.0,1.0,0.0,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.0,1.0,2.5,0.5,1.5,...,1.0,NaN,NaN,0.5,1.0,3.0,0.0,4.0,3.5,0.0
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.0,1.0,3.5,1.0,1.5,...,1.0,2.0,0.0,0.5,0.5,3.0,1.0,2.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.0,1.0,2.0,1.0,4.0,...,1.0,1.0,0.5,0.0,0.0,3.5,1.0,4.0,3.0,0.0
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,NaN,NaN,0.5,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.0,0.0,1.0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.0,1.0,2.5,1.0,3.0,...,1.0,2.0,0.5,4.0,1.0,4.0,1.0,2.0,4.0,1.0

In [132]:
for columnIndex in range(3, 30):
    for rowIndex in range(oceny.shape[0]):
        if np.isnan(oceny2.iloc[rowIndex, columnIndex]):
            oceny2.iloc[rowIndex, columnIndex] = \
                np.mean(np.r_[oceny2.iloc[:, columnIndex].mean(),\
                              oceny2.iloc[rowIndex, 3:30].mean()])  
oceny2

,Imię,Nazwisko,E-mail,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,D9(1),L10(4),D10(1),L11(4),D11(1),L12(4),D12(1),L13(5),L14(4),D14(1)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.000000,1.000000,2.0,0.0,1.0,...,0.5,2.000000,0.000000,0.5,1.0,1.61,0.961731,4.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.000000,0.500000,2.0,1.0,1.5,...,1.0,0.000000,0.000000,1.0,1.0,0.00,0.000000,4.0,4.0,1.0
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,2.118056,1.000000,2.5,1.0,1.5,...,1.0,1.291250,0.948042,1.0,0.5,3.50,1.000000,4.0,4.0,1.0
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.000000,1.000000,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.00,0.000000,0.0,0.0,0.0
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.000000,1.000000,1.0,0.0,1.5,...,0.0,0.000000,0.000000,0.0,0.0,0.00,0.000000,0.0,0.0,0.0
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.000000,1.000000,2.5,0.5,1.5,...,1.0,1.139563,0.816432,0.5,1.0,3.00,0.000000,4.0,3.5,0.0
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.000000,1.000000,3.5,1.0,1.5,...,1.0,2.000000,0.000000,0.5,0.5,3.00,1.000000,2.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.000000,1.000000,2.0,1.0,4.0,...,1.0,1.000000,0.500000,0.0,0.0,3.50,1.000000,4.0,3.0,0.0
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,1.345903,0.585498,0.5,0.0,1.0,...,0.0,0.000000,0.000000,0.0,0.0,0.00,0.000000,0.0,0.0,0.0
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.000000,0.000000,1.0,0.5,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.00,0.000000,0.0,0.0,0.0
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.000000,1.000000,2.5,1.0,3.0,...,1.0,2.000000,0.500000,4.0,1.0,4.00,1.000000,2.0,4.0,1.0

4

In [140]:
oceny2.columns.shape

(30,)

In [148]:
# suma wierszy
oceny2["Suma"] = oceny2.iloc[:,3:30].sum(axis=1)
# suma calosci (znowu regex)
suma = 0
for kolumna in np.r_[3:30]:
    suma += int(re.findall(r"[LD]\d{1,2}\((\d)\)" ,oceny2.columns[kolumna])[0])
suma
# procentowy sukces
oceny2["Procent"] = oceny2.iloc[:,3:30].sum(axis=1)/suma
# pd.cut()
oceny2

,Imię,Nazwisko,E-mail,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,D10(1),L11(4),D11(1),L12(4),D12(1),L13(5),L14(4),D14(1),Suma,Procent
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.000000,1.000000,2.0,0.0,1.0,...,0.000000,0.5,1.0,1.61,0.961731,4.0,4.0,1.0,40.571731,0.587996
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.000000,0.500000,2.0,1.0,1.5,...,0.000000,1.0,1.0,0.00,0.000000,4.0,4.0,1.0,35.500000,0.514493
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,2.118056,1.000000,2.5,1.0,1.5,...,0.948042,1.0,0.5,3.50,1.000000,4.0,4.0,1.0,47.357348,0.686338
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.000000,1.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.00,0.000000,0.0,0.0,0.0,3.500000,0.050725
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.000000,1.000000,1.0,0.0,1.5,...,0.000000,0.0,0.0,0.00,0.000000,0.0,0.0,0.0,14.250000,0.206522
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.000000,1.000000,2.5,0.5,1.5,...,0.816432,0.5,1.0,3.00,0.000000,4.0,3.5,0.0,38.205995,0.553710
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.000000,1.000000,3.5,1.0,1.5,...,0.000000,0.5,0.5,3.00,1.000000,2.0,4.0,1.0,41.928846,0.607664
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.000000,1.000000,2.0,1.0,4.0,...,0.500000,0.0,0.0,3.50,1.000000,4.0,3.0,0.0,48.000000,0.695652
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,1.345903,0.585498,0.5,0.0,1.0,...,0.000000,0.0,0.0,0.00,0.000000,0.0,0.0,0.0,8.931401,0.129441
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.000000,0.000000,1.0,0.5,0.0,...,0.000000,0.0,0.0,0.00,0.000000,0.0,0.0,0.0,7.500000,0.108696
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.000000,1.000000,2.5,1.0,3.0,...,0.500000,4.0,1.0,4.00,1.000000,2.0,4.0,1.0,48.500000,0.702899

In [147]:
suma = np.concatenate(oceny2.columns[3:30].str.findall(r'\((\d)\)').values).astype(int).sum()

69

In [154]:
oceny2["Ocena"] = pd.cut(oceny2["Procent"], [0, 0.5, 0.6, 0.7, 0.8, 0.9, 1], labels=["2.0", "3.0", "3.5", "4.0", "4.5", "5.0"])
oceny2

,Imię,Nazwisko,E-mail,L1(4),D1(1),L2(4),D2(1),L3(4),D3(1),L4(4),...,L11(4),D11(1),L12(4),D12(1),L13(5),L14(4),D14(1),Suma,Procent,Ocena
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.000000,1.000000,2.0,0.0,1.0,...,0.5,1.0,1.61,0.961731,4.0,4.0,1.0,40.571731,0.587996,3.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.000000,0.500000,2.0,1.0,1.5,...,1.0,1.0,0.00,0.000000,4.0,4.0,1.0,35.500000,0.514493,3.0
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,2.118056,1.000000,2.5,1.0,1.5,...,1.0,0.5,3.50,1.000000,4.0,4.0,1.0,47.357348,0.686338,3.5
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.000000,1.000000,0.0,0.0,0.0,...,0.0,0.0,0.00,0.000000,0.0,0.0,0.0,3.500000,0.050725,2.0
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.000000,1.000000,1.0,0.0,1.5,...,0.0,0.0,0.00,0.000000,0.0,0.0,0.0,14.250000,0.206522,2.0
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.000000,1.000000,2.5,0.5,1.5,...,0.5,1.0,3.00,0.000000,4.0,3.5,0.0,38.205995,0.553710,3.0
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.000000,1.000000,3.5,1.0,1.5,...,0.5,0.5,3.00,1.000000,2.0,4.0,1.0,41.928846,0.607664,3.5
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.000000,1.000000,2.0,1.0,4.0,...,0.0,0.0,3.50,1.000000,4.0,3.0,0.0,48.000000,0.695652,3.5
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,1.345903,0.585498,0.5,0.0,1.0,...,0.0,0.0,0.00,0.000000,0.0,0.0,0.0,8.931401,0.129441,2.0
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.000000,0.000000,1.0,0.5,0.0,...,0.0,0.0,0.00,0.000000,0.0,0.0,0.0,7.500000,0.108696,2.0
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.000000,1.000000,2.5,1.0,3.0,...,4.0,1.0,4.00,1.000000,2.0,4.0,1.0,48.500000,0.702899,4.0